.topleft{
	float:left;
}

.topright{
	float:right;
}

.bottomleft{
	position: absolute;
	bottom: 10px;
}

.bottomright{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.middle{
	position: absolute;
	top:50%;
	left:50%;
}